
.about h2{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.about h3{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0 0 10px 0;
}

.about p{
    display: flex;
    justify-content: center;
    margin: auto;
}
.about_img{
    display: flex;
    justify-content: center;
    width: 50%; 
    border-radius: 100%;
    margin: auto;
}